:root{
    --commoncolor: #a8a8a8;
    --uncommoncolor: #4ca744;
    --rarecolor: #2d56af;
    --epiccolor: #a732c5;
    --legendarycolor: #c8a421;
    --bordercolor: #3a3a40;
}

@font-face {
    font-family: robo;
    src: url(roboto.ttf);
}
html, body{
    background-color: #1e1e22;
    padding: 0;
    height: 100%;
    margin: 0;
}

*{
    font-family: robo;
}

section{
    margin: 0;
    padding: 0;
    height: 100%;
}
button{
    padding: 0;
}
div{
    padding: 0;
    border: 0;
}
.div1,.div2,.div3{
    border-radius: 3vh;
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--bordercolor);
    border-width: 0.1vh;
}
.div1{
    overflow: scroll;
    scrollbar-width: none;
    margin: 0;
    width: 7.29%;
    height: 100%;
    float: left;
    background-color: #1f1f23;
}
.div2{
    scroll-behavior: smooth;
    overflow-y: auto;
    overscroll-behavior-y: auto;
    height: 100vhs;
    scrollbar-width: none;
    margin: 0;
    width: 17.71%;
    height: 100%;
    float: left;
    background-color: #252529;
}
.div3{
    cursor: default;
    margin: 0;
    width: 75vw;
    height: 100%;
    float: left;
    background-color: #2f2f35;
    color: #e2e6ea;
    text-align: center;
    padding: 0;
    padding-bottom: 3vh;
}
.div3 img{
    margin: 0;
    padding: 0;
    height: 46.3vh;
    width: 26.04vw;
}

h1{
    margin-top: 2vh;
    margin-bottom: 0vh;
    font-size: 7vh;
    text-decoration: underline;
}

.mh,.m1,.m2c,.m2u,.m5, .m2{
    display: inline-block;
    transition: 0.1s;
    cursor: pointer;

}

.m1{
    background-position: center;
    background-repeat: no-repeat;
    background-color: #29292e;
    border-radius: 42%;
    margin-left: 10.71428572%;
    margin-top: 1.85vh;
    height: 10.18vh;
    width: 5.73vw;
}
.mh{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2.1vw;
    cursor: pointer;
    margin-left: 4.41176471%;
    margin-top: 1.85vh;
    height: 12.04vh;
    width: 16.16vw;
    background-color: #323238;
    align-content: center;
    text-align: center;
    color: #e2e6ea;
}

.mh p{
    border-radius: 1vw;
    font-size: 1.6vw;
    background-color: #26282b;
    margin-left: 3vw;
    margin-right: 3vw;
    cursor: pointer;
}

.m2{
    color: #dededeff;
}

.m2c, .common{
    color: var(--commoncolor);
}

.m2u, .uncommon{
    color: var(--uncommoncolor);
}

.m2r, .rare{
    color: var(--rarecolor);
}

.m2e, .epic{
    color: var(--epiccolor);
}

.m2l, .legendary{
    color: var(--legendarycolor);
}

.m2mage{
    border-top-style: solid;
    border-top-color: var(--bordercolor);
    border-top-width: 0.3vh;
    border-bottom-style: solid;
    border-bottom-color: var(--bordercolor);
    border-bottom-width: 0.3vh;
    border-right-style: solid;
    border-right-color: var(--bordercolor);
    border-right-width: 0.3vh;
    transition: 0.1s;
    width: 5vw;
    border-top-right-radius: 2.1vw;
    border-bottom-right-radius: 2.1vw;
}

.m2c, .m2u, .m2r, .m2e, .m2l, .m2{
    cursor: pointer;
    display: inline-flex;
    background-color: #323238;
    border-radius: 2.1vw;
    margin-left: 4.41176471%;
    margin-top: 1.85vh;
    height: 9.26vh;
    width: 16.16vw;
    font-size: 1.5vw;
    align-items: center;
    overflow: hidden;
}

.m2 p{
    margin-left: 0.5vw;
}

.m2c img, .m2u img, .m2r img, .m2e img, .m2l img, .m2 img{
    float: left;
}

.m1,.m2c,.m2u,.m3,.m4,.m5,.md1,.mh,.m2, .update{
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--bordercolor);
    border-width: 0.3vh;
}

.m3{
    display: inline-flex;
    margin-top: 4vh;
    border-radius: 1.5vh;
    margin-right: 0.78125vw;
    margin-left: 0.78125vw;
    background-color: #29292e;
    width: 33vw;
    height: 25vh;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: wrap;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.m3 p{
    font-size: 2vh;
}

.m3 h2{
    font-size: 3vh;
}


.m4{
    display: flex;
    margin-top: 10.5vh;
    border-radius: 1.5vh;
    margin-right: 0.78125vw;
    margin-left: 0.78125vw;
    background-color: #29292e;
    width: 70vw;
    height: 75vh;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-bottom: 0;
    overflow: scroll;
    scrollbar-width: none;
    text-overflow: wrap;
    padding: 0;
    padding-bottom: 2.67vh;
}

#lortb .m4 p{
    font-size: 3vh;
    display: inline;
}

.m5{
    margin-top: 2.67vh;
    cursor: default;
    align-items: center;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    display: inline-block;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #35353b;
    border-radius: 42%;
    height: 11.56vh;
    width: 6.5vw;
}

.m1i{
    margin-right: 0.075vw;
    border-radius: 100000px;
    margin-top: 2.94vh;
    height: 8vh;
    width: 0.5vw;
    background-color: white;
    float: right;
}

.m2i{
    margin-right: 0.15vw;
    border-radius: 100000px;
    margin-top: 3.48vh;
    height: 6vh;
    width: 0.3vw;
    background-color: white;
    float: right;
}

.md{
  z-index: 100;
  border-radius: 30px;
  margin-left: 6vw;
  display: none;
  position: absolute;
  text-align: center;
  color: #d7d7d7;
  background-color: #17181a;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.md1{
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 30px;
  margin-left: 27.5vw;
  margin-top: 12.5vh;
  display: none;
  overflow: wrap;
  position: absolute;
  text-align: center;
  color: #d7d7d7;
  background-color: #17181a;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

section{
    float: right;
    width: 75%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#upleak{
    overflow-y: scroll;
    scrollbar-width: none;
}

#upleak h2{
    margin-top: 6vh;
}

.update{
    display: flex;
    border-radius: 1.5vh;
    margin-right: 0.78125vw;
    margin-left: 0.78125vw;
    background-color: #29292e;
    width: 70vw;
    height: 75vh;
    display: inline-block;
    align-content: center;
    margin-bottom: 0;
    overflow: scroll;
    scrollbar-width: none;
    text-overflow: wrap;
    padding: 0;
    padding-bottom: 2.67vh;
}

.update img{
    margin-top: 2.67vh;
    border-radius: 1vw;
    width: 95%;
    height: auto;
}

.common, .uncommon, .rare, .epic, .legendary{
    font-size: 3vh;
}

.m1:hover .md, .m5:hover .md1 {display: block;}

.m1:hover {border-radius: 30%;}

.m2c:hover, .m2u:hover, .m2r:hover, .m2e:hover, .m2l:hover, .mh:hover, .m5:hover, .m2:hover, .m2:hover img {border-radius: 1.3vw;}