@font-face {
    font-family: robo;
    src: url(roboto.ttf);
}
*{font-family: robo;}

.div1{
    width: 140px;
    display: inline;
}
.div2{
    width: 340px;
    display: inline;
}
.div3{
    width: 1440px;
    display: inline;
}